/* font-family: 'Alfa Slab One', cursive;
font-family: 'Lato', sans-serif; 
font-family: 'Abril Fatface', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

html {
  box-sizing: border-box;
}

* , *:before , *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
    --main-bg-color: rgb(253, 251, 251);
    --primary-color: rgb(247 193 48);;
    --second-color: aquamarine;
    --padding_costum: 40px;
}

  
body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 10vh; */
    background-image: url(img/black_texture.png);
    color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;

}

header , .stage, footer{
  width: calc(100% - 60px);
  margin: auto;
  max-width: 300px;
}
header {
  margin-top: 40px;
}

ul {
    list-style-type: none; 
}

h1 {
  font-family: Alfa Slab One, cursive;
  text-align: center;
  margin-bottom:40px;
  font-size: 50px;
  line-height: 1.1em;
  font-weight: 100;
  color: var(--primary-color);
}

p {

  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  color: var(--main-bg-color);
  line-height: 1.5;
}
form#side_size {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column-reverse;
  margin-bottom: 40px;
}
#value {
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  color: var(--primary-color);
}


input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  background: var(--second-color);
  background-position: center;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  /* background: var(--primary-color); */
  background-image: url(img/black_texture.png);
  position: relative;
  border: 3px solid var(--second-color);
  z-index: 3;
  cursor: pointer;
}

#myItemList {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  /* background-color: olive; */
}

footer p {
  text-align: center;
  font-size: 18px;
}

footer strong.titulo  {
  text-transform: uppercase;
  margin-right: 10px;
  font-size: small;
}

/* a {
  text-decoration: none;
  color: #fff;
} */
.menu_social {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}

a[class^="social"] {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: -1000%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
a.social_linkedin {
  background-image: url(img/linkedin.png);
}

a.social_github {
  background-image: url(img/github.png);
}

a.social_codpen {
  background-image: url(img/codpen.svg);
  background-size: 90%;
}

a.social_behance {
  background-image: url(img/behance.png);
  background-size: 100%;
}